= form_with(model: user, local: true) do |form|
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :phone_number
    = form.text_field :phone_number
  .field
    = form.label :alias_name
    = form.text_field :alias
  - if user.errors.present?
    .error
      %ul
        Total #{user.errors.count} Errors encountered
        - user.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
