= link_to 'Back', root_path
%h1 Users list
%p= notice
.col-xs-12
  .box
    .box-header
      .box-body
        %table#example2.table.table-bordered.table-striped
          %thead
            %tr
              %th Alias
              %th Name
              %th Number
              %th Email
              %th Actions
          %tbody
            - @users.each do |user|
              %tr
                %td= user.alias
                %td= user.name
                %td= user.phone_number
                %td= user.email
                %td= link_to 'Show', user
                %td= link_to 'Edit', edit_user_path(user)
                %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New user', new_user_path