%p= "Phone: #{@user.phone_number}"
%p= "Name: #{@user.name}"
%p= @user.email
%p= "Number of wins: #{@win}"
%p= "Number of losses: #{@los}"
- gs = @user.players.pluck(:game_score)
%p= "Average score: #{gs.sum/gs.count}"
- players = @user.players.order('game_score DESC').first
%p= "Users High score: #{players.game_score}"
%p= "High score on: #{players.game_score}"
%p= "High score created against: #{players.game.players.where.not(user_id: @user.id).first.user.name}"