= form_with(model: game, local: true) do |form|
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :game_date
    = form.date_field :game_date
  .field
    = form.label :game_time
    = form.time_field :game_time
  .field
    = form.label :rules
    = form.text_area :rules
  = form.fields_for :players do |builder, i|
    %p
    %strong
      Player #{i}#{i}
    = render 'select_players', :f => builder
  - if game.errors.present?
    .error
      %ul
        Total #{game.errors.count} Errors encountered
        - game.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
