.field
  = f.label "player"
  = f.select :user_id, options_for_select(User.all.pluck(:name, :id)), {:prompt => 'select somethig'}, :class => "form-control select2"
.field
  = f.label "score"
  = f.number_field :game_score
