= link_to 'Back', root_path
%h1 Games list
%p= notice
.col-xs-12
  .box
    .box-header
      .box-body
        %table#example2.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Date
              %th Time
              %th Rules
              %th Actions
          %tbody
            - @games.each do |game|
              %tr
                %td= game.name
                %td= game.game_date
                %td= game.game_time
                %td= game.rules
                %td= link_to 'Show', game
                %td= link_to 'Edit', edit_game_path(game)
                %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'Create New Game', new_game_path