= link_to 'Back', root_path
%h1 Game scorecard
.col-xs-12
  .box
    .box-header
      .box-body
        %table#example2.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Total games
              %th Average Score
              %th
          %tbody
            - @leaderboard_users.each do |lu|
              %tr
                %td= lu.name
                %td= lu.players.count
                %td= (lu.players.pluck(:game_score).sum/lu.players.pluck(:game_score).count).round